<h2>Add a Beer to Your List</h2>
<form action="/beers" method="POST">
    <div class="form-group">
        <h3>Beer:</h3>
        <label for="beer_name">Name</label>
        <input class="form-control" type="text" name="beer_name" id="beer_name" required>
        <label for="ratebeer_url">Ratebeer URL</label>
        <input class="form-control" type="text" name="ratebeer_url" id="ratebeer_url">
        <label for="style">Style</label>
        <input class="form-control" type="text" name="style" id="style">
        <label for="rating">Rating</label>
        <input class="form-control" type="text" name="rating" id="rating">
        <label for="comments">Comments</label>
        <textarea class="form-control" rows="3" name="comments" id="comments"></textarea>
    </div>
    <div class="form-group">
        <h3>Brewery:</h3>
        <label for="brewery_name">Brewery Name</label>
        <input class="form-control" type="text" name="brewery_name" id="brewery_name" required>
        <label for="city">City</label>
        <input class="form-control" type="text" name="city" id="city">
        <label for="state">State</label>
        <input class="form-control" type="text" name="state" id="state">
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
</form>
